Sdrc.DevInfo/DIWeb/App_WebReferences/JSONXML/DataServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.devinfo.info/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.devinfo.info/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.devinfo.info/">
      <s:element name="GetJSONData">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlData">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetJSONDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONData" />
  </wsdl:message>
  <wsdl:message name="GetJSONDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetXmlData" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlDataResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetJSONData">
      <wsdl:input message="tns:GetJSONDataSoapIn" />
      <wsdl:output message="tns:GetJSONDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <wsdl:input message="tns:GetXmlDataSoapIn" />
      <wsdl:output message="tns:GetXmlDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataServiceHttpGet" />
  <wsdl:portType name="DataServiceHttpPost" />
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJSONData">
      <soap:operation soapAction="http://www.devinfo.info/GetJSONData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <soap:operation soapAction="http://www.devinfo.info/GetXmlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJSONData">
      <soap12:operation soapAction="http://www.devinfo.info/GetJSONData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <soap12:operation soapAction="http://www.devinfo.info/GetXmlData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceHttpGet" type="tns:DataServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="DataServiceHttpPost" type="tns:DataServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:1890/libraries/ws/DataServices.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:1890/libraries/ws/DataServices.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceHttpGet" binding="tns:DataServiceHttpGet">
      <http:address location="http://localhost:1890/libraries/ws/DataServices.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceHttpPost" binding="tns:DataServiceHttpPost">
      <http:address location="http://localhost:1890/libraries/ws/DataServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>